<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>medical</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <context-param>
		<description>MongoDB: Base de datos a usar</description>
		<param-name>mondodb.database</param-name>
		<param-value>test</param-value>
	</context-param>
	<context-param>
		<description>Dirección/nombre del servidor</description>
		<param-name>mondodb.hostname</param-name>
		<param-value>dbserver</param-value>
	</context-param>
	<context-param>
		<description>Puerto del servidor</description>
		<param-name>mondodb.port</param-name>
		<param-value>27017</param-value>
	</context-param>
	<context-param>
		<description>Máximo de conexiones permitidas por host</description>
		<param-name>mondodb.maxConnectionsPerHost</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<description>Mínimo de conexiones por host</description>
		<param-name>mondodb.minconnectionsPerHost</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<description>Tiempo máximo de conexión sin uso</description>
		<param-name>mondodb.maxConnectionIdleTime</param-name>
		<param-value>0</param-value>
	</context-param>
  
  
  <servlet>
    <servlet-name>serviceJR</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.uniandes.co.arquitectura.services</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeatures</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceJR</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
  <listener>
		<listener-class>edu.uniandes.co.arquitectura.services.ContextCM</listener-class>
	</listener>
  
</web-app>